@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .filter-modal-base {
    @apply absolute flex flex-col justify-center p-[8px] rounded-[16px] z-10 shadow-modal-sm;
  }
}

@layer components {
  .single-line-ellipsis {
    @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
  }
  .filter-modal {
    @apply filter-modal-base top-[-10px] left-[-220px] w-[200px];
  }
  .outer-progress-bar {
    @apply w-1/2 h-[8px] bg-gray-200 rounded-[16px];
  }
  .inner-progress-bar {
    @apply h-full bg-[#2F6EA2] rounded-[16px] transition-all duration-200;
  }
}

#root,
#modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root h1,
#root h2,
#root h3,
#root h4,
#root h5,
#root h6,
#root p,
#modal h1,
#modal h2,
#modal h3,
#modal h4,
#modal h5,
#modal h6,
#modal p {
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
#root body,
#modal body {
  box-sizing: border-box;
}

#root a,
#modal a {
  color: inherit;
  text-decoration: none !important;
  cursor: pointer;
}

#root *:focus,
#modal *:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

* {
  box-sizing: border-box;
}

/* #assignment-list::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

#assignment-list::-webkit-scrollbar-track {
  background-color: #fff;
}

#assignment-list::-webkit-scrollbar-thumb {
  background-color: #7f7f7f;
  border-radius: 16px;
  border: 4px solid #fff;
} */

#modal::-webkit-scrollbar-button {
  display: none;
}
