@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .filter-modal-base {
    @apply absolute z-10 flex flex-col justify-center rounded-[16px] p-[8px] shadow-modal-sm;
  }
}

@layer components {
  .single-line-ellipsis {
    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
  }
  .filter-modal {
    @apply filter-modal-base left-[-220px] top-[-10px] w-[200px];
  }
  .outer-progress-bar {
    @apply h-[8px] w-1/2 rounded-[16px] bg-gray-200;
  }
  .inner-progress-bar {
    @apply h-full rounded-[16px] bg-[#2F6EA2] transition-all duration-200;
  }
}

#root,
#modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root h1,
#root h2,
#root h3,
#root h4,
#root h5,
#root h6,
#root p,
#modal h1,
#modal h2,
#modal h3,
#modal h4,
#modal h5,
#modal h6,
#modal p {
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
#root body,
#modal body {
  box-sizing: border-box;
}

#root a,
#modal a {
  color: inherit;
  text-decoration: none !important;
  cursor: pointer;
}

#root *:focus,
#modal *:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

#modal ::-webkit-scrollbar {
  width: 5px;
}

#modal ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #0e0d46;
}

#modal ::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #eee;
}

#modal input {
  border: none;
  outline: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}
